*{
	margin:0;padding:0;box-sizing:border-box;-webkit-appearance:none!important;-moz-appearance:none;appearance:none!important;font-weight:inherit;color:inherit;
	font-family: 'Open Sans';
}
a{text-decoration:none;cursor:pointer}
li,ul{list-style:none}

input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset;-webkit-appearance:none;-moz-appearance:none;appearance:none}

body{font-weight:400;text-align:center;font-size: 16px;background: #f8f9fa}

.column-center{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:center;-webkit-justify-content:center;-ms-align-items:center;-webkit-align-items:center;align-items:center;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;-o-flex-direction:column;flex-direction:column}
.column-start{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:center;-webkit-justify-content:center;-ms-align-items:flex-start;-webkit-align-items:flex-start;align-items:flex-start;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;-o-flex-direction:column;flex-direction:column}
.column-between{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:space-between;-webkit-justify-content:space-between;-ms-align-items:space-between;-webkit-align-items:center;align-items:center;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;-o-flex-direction:column;flex-direction:column}

.row-center{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:center;-webkit-justify-content:center;-ms-align-items:center;-webkit-align-items:center;align-items:center;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap;flex-wrap: wrap;}
.row-between{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:space-between;-webkit-justify-content:space-between;-ms-align-items:center;-webkit-align-items:center;align-items:center;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap;flex-wrap: wrap;}
.row-around{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:space-around;-webkit-justify-content:space-around;-ms-align-items:center;-webkit-align-items:center;align-items:center;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap;flex-wrap: wrap;}
.row-start{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:flex-start;-webkit-justify-content:flex-start;-ms-align-items:center;-webkit-align-items:center;align-items:center;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap;flex-wrap: wrap;}
.row-end{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:flex-end;-webkit-justify-content:flex-end;-ms-align-items:center;-webkit-align-items:center;align-items:center;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap;flex-wrap: wrap;}
.row-center-stretch{display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:center;-webkit-justify-content:center;-ms-align-items:stretch;-webkit-align-items:stretch;align-items:stretch;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap;flex-wrap: wrap;}


.aic{-ms-align-items:center;-webkit-align-items:center;align-items:center}
.ais{-ms-align-items:stretch;-webkit-align-items:stretch;align-items:stretch}
.fdc{-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;-o-flex-direction:column;flex-direction:column}

.container{width:100%;max-width:980px;margin: 0 auto;}
.container.-big{width:100%;max-width:1280px;margin: 0 auto;}

/*COLORS*/

/*base -> #f8f9fa;*/
/*secondary -> #fff*/
/*Gray #efefef*/
/*Gray middle #d0d0d0*/

::-webkit-scrollbar
{
	width: 0px;
}
::-webkit-scrollbar-track-piece
{
	background-color: transparent;
	-webkit-border-radius: 6px;
}


.wrapper{
	padding: 50px;
}

.title{
	font-size: 36px;
	color: #333;
	text-transform: uppercase;
	width: 100%;
	text-align: left;
	margin-bottom: 30px;
	font-weight: 800;
}

.cover-link{
	position: absolute;
	left:0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 2;
}

.symbol-list-header{
	width: 100%;
	padding: 20px;
	border-bottom: 3px solid #333;
}

.symbol-list-header h3{
	font-weight: 300;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
	font-weight: 700;
}

.symbol-list-header .name{
	width: 60%;
	display: inline-block;
	text-align: left;
}


.symbol-list-header .comments{
	width: 15%;
	display: inline-block;
	color: #333;
	text-align: center;
}

.symbol-list-header .currency{
	width: 10%;
	display: inline-block;
	color: #333;
	text-align: center;
}

.symbol-list-header .risk_family{
	width: 15%;
	display: inline-block;
	color: #333;
	text-align: center;
}

.filters{
	margin-bottom: 20px;
}

.filters .input-text--container{
	position: relative;
	padding-bottom: 20px;
	width: 100%;
	text-align: left;
	overflow-y: hidden;
}

.filters .options-container{
	height: 40px;
	line-height: 40px;
	will-change:transform;
	transition: .5s;
	transform: translateX(-120%);
}

.filters .options-container[open="open"]{
	transform: translateX(0);
}

.filters .options-container button{
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	border: 1px solid #d0d0d0;
	opacity: .5;
	box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,.4);
	transition: .1s;
}

.filters .options-container button[active=true]{
	opacity: 1;
	box-shadow: none;
}

.filters .results{
	width: 100%;
	text-align: left;
	font-size: 12px;
	color: #333;
	opacity: .9;
	margin-top: 5px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	max-width: 300px;
}

.filters .results .btn-action{
	font-size: 10px;
}

.filters .show-filters{
	width: 40px;
	height: 40px;
	display: inline-block;
	background: #fff url(/img/settings.svg) center/25px no-repeat;
	margin-left: 0px;
	border: none;
	transition: .5s;
	outline: none;
	cursor: pointer;
}

.filters .show-filters[open="open"]{
	transform: rotate(90deg);
}

.input-text{
	padding: 0 10px;
	height: 40px;
	background: white;
	border: 1px solid #d0d0d0;
	width: 100%;
	max-width: 300px;
	display: inline-block;
	text-align: left;
	font-weight: 500;
	font-size: 14px;
	outline: none;
	background: #fff url(/img/search.svg) 110% center/25px no-repeat;
	transition: .3s;
	z-index: 2;
	border-radius: 0;
}

.input-text::-webkit-input-placeholder{color:#d0d0d0;}
.input-text:-moz-placeholder {color:#d0d0d0;}
.input-text::-moz-placeholder {color:#d0d0d0;}
.input-text:-ms-input-placeholder {color:#d0d0d0;}
.input-text::-ms-input-placeholder {color:#d0d0d0;}

.input-text:focus::-webkit-input-placeholder{opacity: 0;}
.input-text:focus:-moz-placeholder {opacity: 0;}
.input-text:focus::-moz-placeholder {opacity: 0;}
.input-text:focus:-ms-input-placeholder {opacity: 0;}
.input-text:focus::-ms-input-placeholder {opacity: 0;}

.input-text:focus{
	background-position: calc(100% - 10px) center;
}

.zero-results{
	padding: 50px 20px;
	text-align: left;
}

.zero-results h3{
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: 400;
}

.zero-results button{
	font-size: 18px;
	text-decoration: underline;
	background:transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn-action{
	text-decoration: underline;
	background:none;
	font-size: 13px;
	border: none;
	outline: none;
	transition: .3;
	cursor: pointer;
}

.volver{
  width: 100%;
  text-align: left;
  display: inline-block;
  margin-bottom: 20px;
  max-width: 1280px;
  position: absolute;
  top: -30px;
  left: 0;
}

.assistant{
  width: 100%;
  text-align: left;
  display: inline-block;
  font-size: 13px;
  color: #333;
}

@keyframes loadAnimation { 
	0%{background-position:0% 48%}
	50%{background-position:100% 53%}
	100%{background-position:0% 48%}
}

@media screen and (max-width: 1023px){

.wrapper{
	padding:40px 20px;
}

  .symbol-list-header{
  	display: none;

  }
}

@media screen and (max-width: 980px){
	.filters .options-container{
		width: 100%;
		margin-top: 10px;
		height: auto;
	}
}

@media screen and (max-width: 1023px){

.wrapper{
	padding:40px 10px;
}

}
